.text_screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: inherit;
  background-color: lime;
  height: 200px;
}
.main img {
  height: inherit;
  width: fit-content;

  object-fit: contain;
}
.text {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.text::first-letter {
  font-size: 24px;
  font-weight: bold;
}

.button_text {
  width: 110px;
  height: 40px;
  border-radius: 30em;
  color: rgb(19, 19, 19);
  font-weight: 600;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button_text::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(192, 255, 20);
  transition-duration: 0.5s;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button_text:hover::before {
  width: 9em;
}
